<footer class="footer">
  <div class="container">
    <div class="row footer-btm mt-5 pt-4 border-top">
      <div class="col-12">
        <div class="footer-copy">
          <a href="{{ .Site.Params.copyright.link }}" rel="noopener">{{ .Site.Params.copyright.text | markdownify }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>