.header-logo {
  width: 200px;
}

.navbar-toggler .icon {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .icon--opened {
  display: block;
}

.navbar-toggler[aria-expanded="false"] .icon--closed {
  display: block;
}