{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <div class="single-blog-item ">
              {{ if .Params.Image }}
                <img src="{{ .Params.Image | relURL }}" alt="{{ .Title | markdownify }}" class="img-fluid w-100">
              {{ end }}
              <div class="blog-item-meta d-flex mt-4 mb-3">
                <span class="d-flex align-items-center text-black mr-4">
                  <img class="icon mr-2" alt="Clock icon" src="/images/icons/clock.svg" />
                  <span class="d-inline-block">{{ .PublishDate.Format "January 02, 2006" }}</span>
                </span>
                <span class="d-flex align-items-center text-black mr-3">
                  <img class="icon mr-2" alt="Person icon" src="/images/icons/person.svg" />
                  <span class="d-inline-block">
                    by
                    {{ if .Params.author.url }}
                      <a href="{{ .Params.author.url }}" rel="noopener" title="{{ .Params.author.name }}">{{ .Params.author.name }}</a>
                    {{ else }}
                      {{ .Params.author.name }}
                    {{ end }}
                  </span>
                </span>
              </div>
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ if .Site.Data.homepage.developmentcircle.enable }}
  {{- partial "development-circle.html" . -}}
{{ end }}

{{ end }}