
{{ define "main" }}

{{ if .Site.Data.homepage.banner.enable }}
{{ with .Site.Data.homepage.banner }}
<section class="banner-main py-7" id="banner">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12">
        <div class="main-banner">
          <h1 class="mb-3 mt-2">We <img class="icon" alt="Heart" src="/images/icons/heart.svg" /> Open Source</h1>
          <p class="mb-4">{{ .content | markdownify }}</p>
          <a title="{{ .cta.text }}" class="btn btn-primary mt-2" href="{{ .cta.link }}" rel="noopener">
            {{ .cta.text }} <i class="ti-angle-right ml-3"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.homepage.featured.enable }}
{{ with .Site.Data.homepage.featured }}
<section class="pt-4 section-bottom" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      {{ range .featuredItem }}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <a class="featured-link" href="{{ .link | safeURL }}" >
        <div class="featured-block mb-4 mb-lg-0">
          <h3 class="mb-3 mt-4">{{ .title | markdownify }}</h3>
          <p class="mb-0">{{ .content | markdownify }}</p>
        </div>
      </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if .Site.Data.homepage.projects.enable }}
{{ with .Site.Data.homepage.projects }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="card-group">
      {{ $.Scratch.Set "$index" 0 }}
      {{ $repo := (getJSON "https://api.github.com/orgs/Netcentric/repos") }}
      {{ range sort $repo "stargazers_count" "desc"}}
        {{ if or (eq .full_name "Netcentric/.github") (eq .full_name "Netcentric/netcentric.github.io") }}
        {{ else }}
          {{ $.Scratch.Set "$index" (add ($.Scratch.Get "$index") 1) }}
            <div class="card mr-4 mb-4 repo-card">
              <div class="card-body">
                <h3 class="h4 card-title repo-title">
                  <a href="{{ .html_url | safeURL }}" title="{{ .full_name | markdownify }}" rel="noopener">
                    {{ replace .full_name "Netcentric/" "" | markdownify }}
                  </a>
                </h3>
                <p class="card-text">{{ .description | markdownify }}</p>
              </div>
              <div class="card-footer">
                <div class="d-flex">
                  <span class="d-flex align-items-center mr-3">
                    <img class="icon mr-2" alt="Star" src="/images/icons/star.svg" />
                    <span class="d-inline-block">{{ .stargazers_count }}</span>
                  </span>
                  {{ if gt .forks_count 0 }}
                    <span class="d-flex align-items-center">
                      <img class="icon mr-2" alt="Github forks" src="/images/icons/github.svg" />
                      <span>
                        {{ .forks_count }}
                        {{ if gt .forks_count 1 }}forks{{ else }}fork{{ end }}
                      </span>
                    </span>
                  {{ end }}
                </div>
              </div>
            </div>
            {{ if eq (mod ($.Scratch.Get "$index") 2) 0 }}
              </div><div class="card-group">
            {{ end }}
          {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if .Site.Data.homepage.blog.enable }}
<section class="section blog-home border-top" id="blog">
  <div class="container">
    {{ with .Site.Data.homepage.blog }}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-heading text-center">
          <h2 class="text-lg mb-3">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "post")}}
        <div class="col-xl-4">
          {{ .Scratch.Set "blog" false }}
          {{ .Render "post" }}
        </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/blog" class="btn btn-primary">All Posts</a>
    </div>
  </div>
</section>
{{ end }}

{{ end }}